In [44]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from mlxtend.feature_selection import ExhaustiveFeatureSelector
from sklearn.ensemble import RandomForestClassifier

In [45]:
data = "./data/Assignment_PA.csv"

In [46]:
df = pd.read_csv(data)

In [47]:
round(df.describe(), 2)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
count,1941.00,1941.00,1941.00,1941.00,1941.00,1941.00,1941.00,1941.00,1941.00,1941.00,...,1941.00,1941.00,1941.00,1941.00,1941.0,1941.0,1941.00,1941.00,1941.00,1941.00
mean,571.14,617.96,1650684.87,1650738.71,1893.88,111.86,82.97,206312.15,84.55,130.19,...,0.08,-0.13,0.59,0.08,0.1,0.2,0.04,0.03,0.21,1.35
std,520.69,497.63,1774578.41,1774590.09,5168.46,301.21,426.48,512293.59,32.13,18.69,...,0.50,0.15,0.34,0.27,0.3,0.4,0.19,0.17,0.41,0.48
min,0.00,4.00,6712.00,6724.00,2.00,2.00,1.00,250.00,0.00,37.00,...,-0.99,-1.00,0.12,0.00,0.0,0.0,0.00,0.00,0.00,1.00
25%,51.00,192.00,471253.00,471281.00,84.00,15.00,13.00,9522.00,63.00,124.00,...,-0.33,-0.20,0.25,0.00,0.0,0.0,0.00,0.00,0.00,1.00
50%,435.00,467.00,1204128.00,1204136.00,174.00,26.00,25.00,19202.00,90.00,127.00,...,0.10,-0.13,0.51,0.00,0.0,0.0,0.00,0.00,0.00,1.00
75%,1053.00,1072.00,2183073.00,2183084.00,822.00,84.00,83.00,83011.00,106.00,140.00,...,0.51,-0.07,1.00,0.00,0.0,0.0,0.00,0.00,0.00,2.00
max,1705.00,1713.00,12987661.00,12987692.00,152655.00,10449.00,18152.00,11591414.00,203.00,253.00,...,0.99,0.64,1.00,1.00,1.0,1.0,1.00,1.00,1.00,2.00

In [48]:
df.tail()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
1936,249,277,325780,325796,273,54,22,35033,119,141,...,-0.4286,0.0026,0.7254,0,0,0,0,0,0,2
1937,144,175,340581,340598,287,44,24,34599,112,133,...,-0.4516,-0.0582,0.8173,0,0,0,0,0,0,2
1938,145,174,386779,386794,292,40,22,37572,120,140,...,-0.4828,0.0052,0.7079,0,0,0,0,0,0,2
1939,137,170,422497,422528,419,97,47,52715,117,140,...,-0.0606,-0.0171,0.9919,0,0,0,0,0,0,2
1940,1261,1281,87951,87967,103,26,22,11682,101,133,...,-0.2000,-0.1139,0.5296,0,0,0,0,0,0,2

In [49]:
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31',
       'V32', 'V33', 'Class'],
      dtype='object')

In [50]:
y = df.Class

In [51]:
features = ['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31',
       'V32', 'V33']
X = df[features]

In [52]:
assignment_model = DecisionTreeRegressor(random_state=1)

In [53]:
assignment_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [54]:
print(X.head())

     V1    V2       V3       V4    V5  V6   V7      V8  V9  V10  ...     V24  \
0    42    50   270900   270944   267  17   44   24220  76  108  ...  1.6435
1   645   651  2538079  2538108   108  10   30   11397  84  123  ...  1.4624
2   829   835  1553913  1553931    71   8   19    7972  99  125  ...  1.2553
3   853   860   369370   369415   176  13   45   18996  99  126  ...  1.6532
4  1289  1306   498078   498335  2409  60  260  246930  37  126  ...  2.4099

      V25     V26     V27  V28  V29  V30  V31  V32  V33
0  0.8182 -0.2913  0.5822    1    0    0    0    0    0
1  0.7931 -0.1756  0.2984    1    0    0    0    0    0
2  0.6667 -0.1228  0.2150    1    0    0    0    0    0
3  0.8444 -0.1568  0.5212    1    0    0    0    0    0
4  0.9338 -0.1992  1.0000    1    0    0    0    0    0

[5 rows x 33 columns]

In [55]:
print(y.tail())

1936    2
1937    2
1938    2
1939    2
1940    2
Name: Class, dtype: int64

In [56]:
assignment_model.predict(X.head())

array([1., 1., 1., 1., 1.])

In [57]:
# Split data into training set and testing set
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [58]:
val_y.tail()

1638    2
667     1
981     1
1038    1
452     1
Name: Class, dtype: int64

In [59]:
train_y.tail(10)

1747    2
1033    1
1383    2
1731    2
763     1
835     1
1216    1
1653    2
559     1
684     1
Name: Class, dtype: int64

In [60]:
# Fit the data
assignment_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [61]:
val_predictions = assignment_model.predict(val_X)

In [62]:
val_X.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31',
       'V32', 'V33'],
      dtype='object')

In [63]:
print(val_predictions)

[1. 1. 1. 1. 1. 1. 1. 2. 1. 2. 1. 2. 2. 2. 1. 2. 1. 1. 1. 1. 1. 1. 2. 2.
 2. 1. 1. 1. 2. 2. 1. 2. 1. 1. 1. 2. 1. 1. 2. 1. 2. 1. 1. 1. 2. 2. 1. 2.
 1. 2. 1. 1. 1. 1. 1. 1. 1. 2. 2. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 2.
 1. 1. 2. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 2. 1. 1. 2.
 1. 1. 2. 1. 2. 1. 1. 1. 1. 2. 1. 1. 2. 2. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1.
 1. 2. 2. 1. 1. 1. 1. 2. 2. 1. 1. 1. 2. 1. 1. 1. 1. 2. 2. 2. 2. 2. 1. 1.
 2. 1. 1. 1. 2. 2. 2. 1. 1. 2. 2. 1. 1. 1. 2. 2. 2. 2. 2. 1. 2. 1. 1. 2.
 1. 1. 2. 1. 1. 2. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 2. 1. 1. 1. 1.
 2. 2. 1. 1. 1. 1. 1. 2. 1. 1. 2. 1. 2. 1. 1. 1. 1. 2. 1. 1. 1. 2. 1. 1.
 1. 1. 1. 2. 2. 2. 1. 1. 1. 2. 2. 1. 1. 2. 1. 1. 2. 2. 2. 2. 1. 1. 1. 1.
 2. 2. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 2. 2.
 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 2. 1. 2. 2. 2. 1. 1. 2. 1. 1. 1. 1. 1. 1.
 1. 2. 2. 2. 1. 1. 1. 2. 2. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 2. 2. 1. 2.
 2. 2. 1. 1. 2. 1. 1. 2. 1. 1. 1. 2. 1. 2. 1. 1. 1. 2. 1. 1. 1. 1. 2. 1.
 2. 1. 2. 1. 1. 1. 1. 1. 2. 1. 2. 1. 2. 1. 1. 2. 2. 1. 1. 1. 1. 2. 2. 2.
 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 2. 2. 1. 2. 1. 1. 1. 2. 2. 2. 1. 1. 1.
 1. 2. 2. 2. 2. 1. 1. 1. 1. 2. 2. 2. 1. 2. 1. 2. 1. 1. 2. 1. 2. 1. 1. 2.
 1. 1. 1. 2. 1. 2. 1. 1. 1. 2. 1. 1. 2. 1. 1. 2. 2. 2. 1. 2. 1. 2. 2. 1.
 2. 1. 1. 1. 1. 1. 1. 1. 2. 2. 2. 1. 2. 1. 1. 1. 1. 2. 2. 1. 1. 1. 1. 2.
 1. 2. 1. 1. 2. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 2.
 2. 2. 1. 1. 1. 1.]

In [64]:
print(val_y.head())

768     1
704     1
726     1
215     1
1158    1
Name: Class, dtype: int64

In [65]:
mean_absolute_error(val_y, val_predictions)

0.0

In [66]:
assignment_model.feature_importances_

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.20330514, 0.17627374, 0.23026248,
       0.13051497, 0.11963264, 0.14001103])

In [32]:
print(val_y)

768     1
704     1
726     1
215     1
1158    1
       ..
1638    2
667     1
981     1
1038    1
452     1
Name: Class, Length: 486, dtype: int64

In [33]:
val_X.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V24,V25,V26,V27,V28,V29,V30,V31,V32,V33
768,805,813,273908,273912,16,8,4,2121,114,148,...,0.6021,-0.5000,0.0356,0.1417,0,0,0,1,0,0
704,41,209,4401486,4401544,5533,288,155,584291,43,126,...,1.7634,-0.6548,-0.1750,1.0000,0,0,1,0,0,0
726,1,250,115072,115195,15650,943,539,1732196,23,140,...,2.0899,-0.5060,-0.1353,1.0000,0,0,1,0,0,0
215,244,275,923170,923211,709,84,55,83627,105,132,...,1.6128,0.2439,-0.0785,0.9984,0,1,0,0,0,0
1158,95,127,961065,961092,551,44,27,53142,56,128,...,1.4314,-0.1563,-0.2465,0.9769,0,0,0,0,0,1

In [34]:
# Less number of features
features = ['V1', 'V2', 'V3', 'V4']

In [35]:
X = df[features]

In [36]:
X.head()

     V1    V2       V3       V4
0    42    50   270900   270944
1   645   651  2538079  2538108
2   829   835  1553913  1553931
3   853   860   369370   369415
4  1289  1306   498078   498335

In [37]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [38]:
assignment_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [39]:
val_predictions = assignment_model.predict(val_X)

In [40]:
dat = [1343,1352,106512,106519,52,9,7,5049,87,109,1366,0,1,100,0.0205,0.1746,0.7778,0.0066,1,1,0,1.716,0.9542,0.8451,-0.2222,-0.2414,0.1687,1,0,0,0,0,0]

In [41]:
val_X

        V1    V2       V3       V4
768    805   813   273908   273912
704     41   209  4401486  4401544
726      1   250   115072   115195
215    244   275   923170   923211
1158    95   127   961065   961092
...    ...   ...      ...      ...
1638  1163  1171  2016193  2016200
667     41   207  2336275  2336344
981   1049  1058  3577116  3577127
1038  1474  1489  1248833  1248844
452     39    66  1384526  1384579

[486 rows x 4 columns]

In [42]:
mean_absolute_error(val_y, val_predictions)

0.31893004115226337

In [36]:
def area(l, b):
    return l * b

rect_area = area(2, 3)

In [37]:
print(rect_area)

6

In [38]:
array = [1, 2, 3, 4, 5]

total = 0

print("total ", total)

for val in array:
    total = total + val
    # print("val ", val, " total ", total )

print(total)

total  0
15

In [39]:
def total_of_array(ary):
    total = 0
    for val in ary:
        total = total + val
    return total

print(total_of_array([1, 3, 5]))
print(total_of_array([1, 1, 1]))

9
3

In [40]:
print(total_of_array([2, 2, 2]))

6