In [1]:
# Data Operations & Summary 
import pandas as pd
import os

In [2]:
# Mathematical Calculations
import numpy as np

In [3]:
# Good Data Visualization
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [4]:
# Basic Visualization
import matplotlib.pyplot as plt

In [5]:
# Statistical Models
import statsmodels.api as sm

ModuleNotFoundError: No module named 'statsmodels'

In [6]:
# Warnings
import warnings
warnings.simplefilter (action="ignore")

In [7]:
# Stastistics
from scipy import stats

In [8]:
pwd

'/Users/chandan/code/personal/practice/python'

In [9]:
dfpa = pd.read_csv("./data/Assignment_PA.csv")

In [10]:
dfpa.shape

(1941, 34)

In [11]:
dfpa.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
0,42,50,270900,270944,267,17,44,24220,76,108,...,0.8182,-0.2913,0.5822,1,0,0,0,0,0,1
1,645,651,2538079,2538108,108,10,30,11397,84,123,...,0.7931,-0.1756,0.2984,1,0,0,0,0,0,1
2,829,835,1553913,1553931,71,8,19,7972,99,125,...,0.6667,-0.1228,0.2150,1,0,0,0,0,0,1
3,853,860,369370,369415,176,13,45,18996,99,126,...,0.8444,-0.1568,0.5212,1,0,0,0,0,0,1
4,1289,1306,498078,498335,2409,60,260,246930,37,126,...,0.9338,-0.1992,1.0000,1,0,0,0,0,0,1

In [12]:
dfpa.tail()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
1936,249,277,325780,325796,273,54,22,35033,119,141,...,-0.4286,0.0026,0.7254,0,0,0,0,0,0,2
1937,144,175,340581,340598,287,44,24,34599,112,133,...,-0.4516,-0.0582,0.8173,0,0,0,0,0,0,2
1938,145,174,386779,386794,292,40,22,37572,120,140,...,-0.4828,0.0052,0.7079,0,0,0,0,0,0,2
1939,137,170,422497,422528,419,97,47,52715,117,140,...,-0.0606,-0.0171,0.9919,0,0,0,0,0,0,2
1940,1261,1281,87951,87967,103,26,22,11682,101,133,...,-0.2000,-0.1139,0.5296,0,0,0,0,0,0,2

In [13]:
dfpa.dtypes

V1         int64
V2         int64
V3         int64
V4         int64
V5         int64
V6         int64
V7         int64
V8         int64
V9         int64
V10        int64
V11        int64
V12        int64
V13        int64
V14        int64
V15      float64
V16      float64
V17      float64
V18      float64
V19      float64
V20      float64
V21      float64
V22      float64
V23      float64
V24      float64
V25      float64
V26      float64
V27      float64
V28        int64
V29        int64
V30        int64
V31        int64
V32        int64
V33        int64
Class      int64
dtype: object

In [14]:
dfpa.count()

V1       1941
V2       1941
V3       1941
V4       1941
V5       1941
V6       1941
V7       1941
V8       1941
V9       1941
V10      1941
V11      1941
V12      1941
V13      1941
V14      1941
V15      1941
V16      1941
V17      1941
V18      1941
V19      1941
V20      1941
V21      1941
V22      1941
V23      1941
V24      1941
V25      1941
V26      1941
V27      1941
V28      1941
V29      1941
V30      1941
V31      1941
V32      1941
V33      1941
Class    1941
dtype: int64

In [15]:
dfpa.isnull().sum()

V1       0
V2       0
V3       0
V4       0
V5       0
V6       0
V7       0
V8       0
V9       0
V10      0
V11      0
V12      0
V13      0
V14      0
V15      0
V16      0
V17      0
V18      0
V19      0
V20      0
V21      0
V22      0
V23      0
V24      0
V25      0
V26      0
V27      0
V28      0
V29      0
V30      0
V31      0
V32      0
V33      0
Class    0
dtype: int64

In [16]:
dfpa.duplicated().sum()

0

In [17]:
dfpa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941 entries, 0 to 1940
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      1941 non-null   int64
 1   V2      1941 non-null   int64
 2   V3      1941 non-null   int64
 3   V4      1941 non-null   int64
 4   V5      1941 non-null   int64
 5   V6      1941 non-null   int64
 6   V7      1941 non-null   int64
 7   V8      1941 non-null   int64
 8   V9      1941 non-null   int64
 9   V10     1941 non-null   int64
 10  V11     1941 non-null   int64
 11  V12     1941 non-null   int64
 12  V13     1941 non-null   int64
 13  V14     1941 non-null   int64
 14  V15     1941 non-null   float64
 15  V16     1941 non-null   float64
 16  V17     1941 non-null   float64
 17  V18     1941 non-null   float64
 18  V19     1941 non-null   float64
 19  V20     1941 non-null   float64
 20  V21     1941 non-null   float64
 21  V22     1941 non-null   float64
 22  V23     1941 non-null   float64
 23  V24     1941 non-null   float64
 24  V25     1941 non-null   float64
 25  V26     1941 non-null   float64
 26  V27     1941 non-null   float64
 27  V28     1941 non-null   int64
 28  V29     1941 non-null   int64
 29  V30     1941 non-null   int64
 30  V31     1941 non-null   int64
 31  V32     1941 non-null   int64
 32  V33     1941 non-null   int64
 33  Class   1941 non-null   int64
dtypes: float64(13), int64(21)
memory usage: 515.7 KB

In [21]:
round(dfpa.describe(),3)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
count,1941.000,1941.000,1.941000e+03,1.941000e+03,1941.000,1941.000,1941.000,1.941000e+03,1941.000,1941.000,...,1941.000,1941.000,1941.000,1941.000,1941.000,1941.000,1941.000,1941.000,1941.000,1941.000
mean,571.136,617.964,1.650685e+06,1.650739e+06,1893.878,111.855,82.966,2.063121e+05,84.549,130.194,...,0.083,-0.131,0.585,0.081,0.098,0.201,0.037,0.028,0.207,1.347
std,520.691,497.627,1.774578e+06,1.774590e+06,5168.460,301.209,426.483,5.122936e+05,32.134,18.691,...,0.501,0.149,0.339,0.274,0.297,0.401,0.189,0.166,0.405,0.476
min,0.000,4.000,6.712000e+03,6.724000e+03,2.000,2.000,1.000,2.500000e+02,0.000,37.000,...,-0.991,-0.999,0.119,0.000,0.000,0.000,0.000,0.000,0.000,1.000
25%,51.000,192.000,4.712530e+05,4.712810e+05,84.000,15.000,13.000,9.522000e+03,63.000,124.000,...,-0.333,-0.195,0.248,0.000,0.000,0.000,0.000,0.000,0.000,1.000
50%,435.000,467.000,1.204128e+06,1.204136e+06,174.000,26.000,25.000,1.920200e+04,90.000,127.000,...,0.095,-0.133,0.506,0.000,0.000,0.000,0.000,0.000,0.000,1.000
75%,1053.000,1072.000,2.183073e+06,2.183084e+06,822.000,84.000,83.000,8.301100e+04,106.000,140.000,...,0.512,-0.067,1.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000
max,1705.000,1713.000,1.298766e+07,1.298769e+07,152655.000,10449.000,18152.000,1.159141e+07,203.000,253.000,...,0.992,0.642,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000

In [22]:
dfpa.nunique()

V1        962
V2        994
V3       1939
V4       1940
V5        920
V6        399
V7        317
V8       1909
V9        161
V10       100
V11        84
V12         2
V13         2
V14        24
V15      1387
V16      1338
V17       770
V18       454
V19       818
V20       648
V21         3
V22       914
V23       183
V24       217
V25       918
V26      1522
V27       388
V28         2
V29         2
V30         2
V31         2
V32         2
V33         2
Class       2
dtype: int64

In [23]:
round(dfpa.corr(),3)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
V1,1.000,0.988,0.042,0.042,-0.307,-0.259,-0.119,-0.339,0.238,-0.076,...,0.179,-0.032,-0.355,0.135,-0.229,-0.419,0.074,0.104,0.221,0.165
V2,0.988,1.000,0.052,0.052,-0.225,-0.186,-0.090,-0.247,0.169,-0.062,...,0.115,-0.039,-0.287,0.120,-0.258,-0.336,0.061,0.097,0.202,0.146
V3,0.042,0.052,1.000,1.000,0.018,0.024,0.024,0.007,-0.066,-0.068,...,-0.086,-0.091,0.025,0.036,-0.063,-0.000,-0.067,0.064,0.126,-0.084
V4,0.042,0.052,1.000,1.000,0.018,0.024,0.024,0.007,-0.066,-0.068,...,-0.086,-0.091,0.025,0.036,-0.063,-0.000,-0.067,0.064,0.126,-0.084
V5,-0.307,-0.225,0.018,0.018,1.000,0.967,0.827,0.979,-0.497,0.110,...,-0.138,-0.043,0.423,-0.077,-0.088,0.557,-0.071,-0.051,-0.164,-0.185
V6,-0.259,-0.186,0.024,0.024,0.967,1.000,0.912,0.913,-0.400,0.111,...,-0.102,-0.033,0.381,-0.075,-0.061,0.455,-0.068,-0.038,-0.140,-0.143
V7,-0.119,-0.090,0.024,0.024,0.827,0.912,1.000,0.705,-0.214,0.062,...,0.031,-0.048,0.192,-0.018,-0.026,0.203,-0.036,-0.010,-0.071,-0.067
V8,-0.339,-0.247,0.007,0.007,0.979,0.913,0.705,1.000,-0.541,0.137,...,-0.158,-0.014,0.464,-0.084,-0.100,0.617,-0.078,-0.055,-0.180,-0.206
V9,0.238,0.169,-0.066,-0.066,-0.497,-0.400,-0.214,-0.541,1.000,0.430,...,0.057,0.670,-0.515,-0.075,0.050,-0.461,0.183,0.093,0.079,0.228
V10,-0.076,-0.062,-0.068,-0.068,0.110,0.111,0.062,0.137,0.430,1.000,...,-0.170,0.870,-0.040,-0.059,-0.189,0.186,0.090,0.022,-0.048,-0.008
V11,0.317,0.299,-0.049,-0.049,-0.156,-0.134,-0.064,-0.169,-0.024,-0.098,...,0.121,-0.150,-0.198,0.196,-0.231,-0.261,-0.137,-0.053,0.226,0.132
V12,0.144,0.112,0.075,0.075,-0.236,-0.189,-0.095,-0.264,0.042,-0.216,...,0.011,-0.253,-0.309,-0.055,0.339,-0.408,-0.155,-0.082,0.306,-0.008
V13,-0.144,-0.112,-0.075,-0.075,0.236,0.189,0.095,0.264,-0.042,0.216,...,-0.011,0.253,0.309,0.055,-0.339,0.408,0.155,0.082,-0.306,0.008
V14,0.137,0.106,-0.208,-0.208,-0.184,-0.148,-0.059,-0.205,0.103,-0.128,...,0.274,-0.116,-0.085,0.077,-0.025,-0.352,-0.100,0.018,-0.017,0.316
V15,0.278,0.243,0.021,0.021,-0.275,-0.228,-0.111,-0.301,0.359,0.150,...,0.021,0.208,-0.330,-0.030,-0.153,-0.338,0.166,0.104,0.232,0.098
V16,-0.198,-0.153,-0.043,-0.043,0.273,0.306,0.189,0.294,-0.044,0.031,...,-0.139,0.062,0.482,-0.185,0.130,0.157,-0.010,-0.013,-0.172,0.048
V17,0.064,0.049,-0.006,-0.006,0.018,0.005,-0.048,0.050,0.067,0.066,...,-0.162,0.112,-0.292,-0.243,-0.006,0.059,0.097,-0.214,0.261,-0.093
V18,-0.361,-0.215,0.054,0.054,0.589,0.517,0.209,0.658,-0.488,0.099,...,-0.440,-0.036,0.519,-0.132,-0.109,0.631,-0.094,-0.074,-0.186,-0.167
V19,0.155,0.149,0.066,0.066,-0.295,-0.293,-0.195,-0.328,0.252,0.094,...,-0.550,0.126,-0.558,-0.122,-0.141,-0.122,0.229,-0.181,0.185,0.075
V20,0.368,0.272,-0.037,-0.037,-0.464,-0.412,-0.137,-0.530,0.317,-0.167,...,0.658,-0.094,-0.545,0.229,0.088,-0.614,0.096,0.097,0.229,0.064
V21,0.147,0.099,-0.063,-0.063,-0.110,-0.079,0.013,-0.121,0.035,-0.124,...,0.863,-0.122,-0.054,0.244,0.085,-0.280,-0.178,0.105,0.045,0.038
V22,-0.429,-0.332,0.045,0.045,0.650,0.563,0.294,0.712,-0.679,0.008,...,-0.124,-0.176,0.878,-0.043,-0.076,0.705,-0.313,-0.034,-0.226,-0.193
V23,-0.438,-0.324,0.070,0.070,0.603,0.525,0.228,0.668,-0.568,0.093,...,-0.537,-0.065,0.757,-0.198,-0.094,0.736,-0.212,-0.121,-0.199,-0.152
V24,-0.327,-0.266,-0.008,-0.008,0.578,0.523,0.344,0.619,-0.588,-0.070,...,0.317,-0.219,0.838,0.091,-0.003,0.482,-0.321,0.062,-0.222,-0.162
V25,0.179,0.115,-0.086,-0.086,-0.138,-0.102,0.031,-0.158,0.057,-0.170,...,1.000,-0.153,-0.024,0.329,0.118,-0.385,-0.137,0.175,0.014,0.043
V26,-0.032,-0.039,-0.091,-0.091,-0.043,-0.033,-0.048,-0.014,0.670,0.870,...,-0.153,1.000,-0.185,-0.108,-0.132,0.098,0.154,0.045,-0.065,0.039
V27,-0.355,-0.287,0.025,0.025,0.423,0.381,0.192,0.464,-0.515,-0.040,...,-0.024,-0.185,1.000,-0.017,-0.019,0.489,-0.252,-0.000,-0.220,-0.102
V28,0.135,0.120,0.036,0.036,-0.077,-0.075,-0.018,-0.084,-0.075,-0.059,...,0.329,-0.108,-0.017,1.000,-0.098,-0.150,-0.058,-0.051,-0.152,-0.217
V29,-0.229,-0.258,-0.063,-0.063,-0.088,-0.061,-0.026,-0.100,0.050,-0.189,...,0.118,-0.132,-0.019,-0.098,1.000,-0.165,-0.065,-0.056,-0.168,-0.240
V30,-0.419,-0.336,-0.000,-0.000,0.557,0.455,0.203,0.617,-0.461,0.186,...,-0.385,0.098,0.489,-0.150,-0.165,1.000,-0.099,-0.086,-0.257,-0.366
V31,0.074,0.061,-0.067,-0.067,-0.071,-0.068,-0.036,-0.078,0.183,0.090,...,-0.137,0.154,-0.252,-0.058,-0.065,-0.099,1.000,-0.034,-0.100,-0.143
V32,0.104,0.097,0.064,0.064,-0.051,-0.038,-0.010,-0.055,0.093,0.022,...,0.175,0.045,-0.000,-0.051,-0.056,-0.086,-0.034,1.000,-0.087,-0.124
V33,0.221,0.202,0.126,0.126,-0.164,-0.140,-0.071,-0.180,0.079,-0.048,...,0.014,-0.065,-0.220,-0.152,-0.168,-0.257,-0.100,-0.087,1.000,-0.372
Class,0.165,0.146,-0.084,-0.084,-0.185,-0.143,-0.067,-0.206,0.228,-0.008,...,0.043,0.039,-0.102,-0.217,-0.240,-0.366,-0.143,-0.124,-0.372,1.000